@font-face {
  font-family: 'ZiTiGuanJiaFangSongTi'
  src: url('/fonts/ZiTiGuanJiaFangSongTi.woff2') format('woff2');
  font-display: swap;
}

{"id":"/assets/index-cgkl97jn.css","path":"/assets/index-cgkl97jn.css","sha":"d685aa64f39897ca1f47e318f5eb031ca10efb97","mime_type":"text/css","size":23324,"site_id":"4a0eb831-a594-47f0-ab52-9beae5a075ab","deploy_id":"6a0a5072a79a2d0bd8f25aba"}